.list-titlebar-transparent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  margin-bottom: 30px;
}

.list-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.server-details-header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.server-menu {
  vertical-align: middle;
  margin-left: 10px;
}

.server-icon {
  &:hover {
    height: 105px;
    margin-right: 25px;
  }
  height: 100px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
