.login-card {
  background: #143452;
  border-radius: 5px;
  width: 400px;
  color: white;
  overflow: hidden;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 95px rgba(0, 0, 0, 0.12);
}

.card-header {
  background: #061a2b;
  padding: 50px 20px 50px 20px;
  text-align: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 30px 25px 0px 25px;
  margin: 10px 0px 30px 0px;
}

.card-body span,
.card-body input,
.card-body button {
  margin: 5px 0px 5px 0px;
}

.card-body input {
  &:focus {
    background-color: rgba(135, 147, 172, 0.178);
    transition: linear 0.2s;
  }
  &::placeholder {
    color: rgba(180, 180, 180, 0.459);
  }
  height: 40px;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 0px 10px;
  background-color: rgba(134, 136, 161, 0.068);
  font-size: 1.1em;
}

.body-title {
  font-size: 1.3em;
  font-weight: bolder;
  margin: 0px 0px 10px 5px;
}

.settings-banner {
  display: auto;
  font-size: 0.9rem;
  margin-top: 5px;
}

.autologin {
  float: left;
}

.remember-me {
  display: inline-block;
  font-weight: bolder;
  white-space: nowrap;
}

.remember-me input {
  vertical-align: middle;
  margin: 0px 5px 0px 0px;
}

.remember-me span {
  vertical-align: middle;
}

.password-retrieval {
  padding-top: 11px;
  text-decoration: none;
  color: rgb(190, 196, 212);
  cursor: pointer;
  font-weight: bold;
  float: right;
}

.login-submit {
  margin-top: 30px;
  align-items: center;
}
