@use 'renderer/sass/variables/theming';

.server-stats-titlebar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
}

.server-stats-content {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  margin-top: 20px;
  padding-right: 10px;
  overflow-y: auto;
}

.server-chart {
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
}

.chart {
  position: relative;
  overflow: hidden;
}

.chart-banner {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  backdrop-filter: blur(5px);
}

.chart-title {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.chart-options {
  padding: 0px 20px;
}

.terminal-wrapper {
  height: 300px;
  overflow: auto;
  background-color: #061a2bb6;
}

.hardware {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  display: grid;
  // display two elements stacked upon each other on the left, and one element on the right
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    'cpu disk'
    'os disk';
  column-gap: 10px;
  row-gap: 10px;
  margin: 10px 0px;
}

.hardware-component {
  width: 1fr;
  height: 1fr;
  background-color: theming.$block-accent;
  border-radius: 14px;
  padding: 20px 0px;
}

.hardware-component-description {
  margin: 0 30px 20px 20px;
  height: fit-content;
}

.explorer {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin: 5px;
  padding: 5px;
  overflow: auto;
}

.explorer-item,
.explorer-item-large {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 10px 15px;
  font-size: smaller;
  border-radius: 10px;
  background-color: #0f2c4475;
}

.explorer-item-large {
  grid-template-columns: repeat(4, 1fr);
}

.explorer-item-description {
  margin: 0px 30px;
  overflow: hidden;
}

.display-icon {
  height: 100px;
}

.chart-group {
  box-sizing: border-box;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

// scale options

.scale-option-enter {
  opacity: 0;
}

.scale-option-enter-active {
  opacity: 1;
  transition: opacity 0.2s ease-in;
}

.scale-option-exit {
  opacity: 1;
}

.scale-option-exit-active {
  opacity: 0;
  transition: opacity 0.2s ease-in;
}
