.btn-standard,
.btn-flat,
.btn-dock {
  cursor: pointer;
}

.btn-standard {
  &:hover {
    transition: linear 0.2s;
  }
  height: fit-content;
  width: fit-content;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  transition: linear 0.2s;
}

.b-primary {
  &:hover {
    background-color: #042db3;
  }
  background-color: #1441d3;
  color: #fff;
}

.b-secondary {
  &:hover {
    background-color: #d4d4d4;
    color: #000;
  }
  background-color: rgb(238, 238, 238);
  color: #2a3147;
}

.b-danger {
  &:hover {
    background-color: #aa2d24;
  }
  background-color: #c9372d;
  color: #fff;
}

.b-dark {
  &:hover {
    background-color: #002499;
  }
  background-color: #1d2949;
  border: 1px solid #39517e;
  color: #fff;
}

.b-small {
  padding: 5px 8px;
  border-radius: 3px;
}

.b-normal {
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

.b-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-flat {
  &:hover {
    background-color: #d4d4d4;
    color: #000;
  }
  height: fit-content;
  width: fit-content;
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1441d3;
  color: #fff;
  font-size: 0.9rem;
  text-align: center;
  justify-content: center;
}

.btn-empty {
  &:hover {
    background-color: #ffffff11;
    transition: 0.2s linear;
  }
  height: fit-content;
  width: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  border: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  justify-content: center;
  text-align: center;
  font-size: 0.9rem;
}

.btn-dock {
  display: inline-block;
  vertical-align: middle;
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #1441d3;
  color: #fff;
}

.b-rounded {
  border-radius: 100vmax;
}
