.Loader-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0);
}

.ld-centered {
  align-items: center;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: fit-content;
  width: fit-content;
}

// skeleton

.ld-line-title {
  box-sizing: border-box;
  width: 40%;
  height: 13px;
  margin: 2px 0px;
  background-color: #294055;
  border-radius: 3px;
  animation: ld-skeletonAnimation 1.3s infinite ease-out;
}

.ld-line-subtitle {
  box-sizing: border-box;
  width: 30%;
  height: 11px;
  margin: 2px 0px;
  background-color: #294055;
  border-radius: 3px;
  animation: ld-skeletonAnimation 1.3s infinite ease-out;
}

.ld-line {
  box-sizing: border-box;
  width: 400px;
  height: 10px;
  margin: 3px 0px;
  background-color: #294055;
  border-radius: 3px;
  animation: ld-skeletonAnimation 1.3s infinite ease-out;
}

.p-end {
  width: 300px;
}

.ld-spacer {
  margin-top: 10px;
}

.ld-anim {
  animation: ld-skeletonAnimation 1.3s infinite ease-out;
}

@keyframes ld-skeletonAnimation {
  0%,
  70%,
  100% {
    background-color: #294055;
  }
  35% {
    background-color: #335261;
  }
}

// spinner

.sk-chase {
  width: 40px;
  height: 40px;
  position: relative;
  animation: sk-chase 2.5s infinite linear both;
}

.sk-chase-dot {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  animation: sk-chase-dot 2s infinite ease-in-out both;
}

.sk-chase-dot:before {
  content: '';
  display: block;
  width: 25%;
  height: 25%;
  background-color: #fff;
  border-radius: 100%;
  animation: sk-chase-dot-before 2s infinite ease-in-out both;
}

.sk-chase-dot:nth-child(1) {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2) {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3) {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4) {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5) {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6) {
  animation-delay: -0.6s;
}
.sk-chase-dot:nth-child(1):before {
  animation-delay: -1.1s;
}
.sk-chase-dot:nth-child(2):before {
  animation-delay: -1s;
}
.sk-chase-dot:nth-child(3):before {
  animation-delay: -0.9s;
}
.sk-chase-dot:nth-child(4):before {
  animation-delay: -0.8s;
}
.sk-chase-dot:nth-child(5):before {
  animation-delay: -0.7s;
}
.sk-chase-dot:nth-child(6):before {
  animation-delay: -0.6s;
}

@keyframes sk-chase {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot {
  80%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes sk-chase-dot-before {
  50% {
    transform: scale(0.4);
  }
  100%,
  0% {
    transform: scale(1);
  }
}
