::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #043e4600;
}

::-webkit-scrollbar-thumb {
  background: rgb(60, 84, 116);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
