$dahsboard-bg: linear-gradient(to right top, #312b3a, #043e46);
$login-bg: linear-gradient(to right top, #164242, #091897);

$titlebar-bg: #061a2b;

$body-panel-bg: #061a2b65;

$block-neutral: #061a2b65;

$block-accent: #061a2bb6;

$sidebar-tab-active-bg: rgba(40, 57, 95, 0.397);

$sidebar-tab-active-hover: rgba(53, 68, 104, 0.178);

$sidebar-tab-disabled-color: rgba(124, 124, 124, 0.548);

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

:export {
  dahsboardBg: $dahsboard-bg;
  loginBg: $login-bg;
  titlebarBg: $titlebar-bg;
  bodyPanelBg: $body-panel-bg;
  blockNeutral: $block-neutral;
  blockAccent: $block-accent;
  sidebarTabActiveBg: $sidebar-tab-active-bg;
  sidebarTabDisabledColor: $sidebar-tab-disabled-color;
}
